@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-nav {
    background-color: #d315d7;
}

/*.main-section {
    background-image: url(../img/rock2.webp);
    background-repeat: no-repeat;
    height: 70vh;
}*/
.albergo{
    font-size: 1.8rem;
    font-family: 'Harlow Solid';
}
.display-4 {
    
    margin-top: 2rem;
    font-size: 4rem;
    font-family: 'Harlow Solid';
    color: #d315d7;
}
.sottotittolo {
    font-size: 1.8rem;
    font-family: "Modak", system-ui;
    color: black;
}
.h{
    height: 70vh;
}